<h1>Welcome to my movies site!</h1>

<h3>Search for a movie here.</h3>

<form action="/movies/search" method="get">
  <input type="text" name="title">
  <button>Search</button>
</form>

<% if @searched.present? %>
  <% @searched.each do |movie| %>
    <%= link_to(movie.title, details_path(movie.id)) %><br>
  <% end %>
<% end %>

<% if @faves.present? %>
  <h3>Favorited movies</h3>
  <%= render @faves %>
<% end %>

<% if @saves.present? %>
  <h3>Saved movies</h3>
  <%= render @saves %>
<% end %>